/* Landing page */

#landingCard1 {
    background-color: aquamarine;
}

#landingCard2 {
    background-color: rgb(207, 74, 21);
}

.appTitle {
    font-family: fantasy;
    border-radius: 25px;
    font-size: 9em;
    background: url(../Images/backgroundimage2.jpg);
}

.jumbotron {
    background: url(../Images/backgroundimage1.jpg);
}