body {
    background-color: black;
    text-align: center;

}

/* Landing page */

#landingCard1 {
    background-color: rgb(0, 158, 163);

}

#landingCard2 {
    background-color: rgb(0, 158, 163);
    text-align: left;
}

.appTitle {
    font-family: fantasy;
    border-radius: 25px;
    font-size: 9em;
    background: url(../Images/backgroundimage2.jpg);
}

.jumbotron {
    background: url(../Images/backgroundimage1.jpg);
}